:root{

  --colors-base-black: #000000;
  --colors-base-white: #FFFFFF;

  --colors-yellow-brand: #FFCC00;
  --colors-blue-brand: #181938;
  --colors-teal-brand:#1ABC9C;


  --colors-grey-25:  #fcfcfc;
  --colors-grey-50:  #f9f9f9;
  --colors-grey-100: #f0f0f0;
  --colors-grey-200: #e5e5e5;
  --colors-grey-300: #d4d4d4;
  --colors-grey-400: #a3a3a3;
  --colors-grey-500: #737373;
  --colors-grey-600: #525252;
  --colors-grey-700: #3f3f3f;
  --colors-grey-800: #2e2e2e;
  --colors-grey-900: #262626;
  --colors-grey-950: #25292c;

  --colors-steel-25:  #f8f9fa;
  --colors-steel-50:  #f1f3f5;
  --colors-steel-100: #e2e6ea;
  --colors-steel-200: #cfd4d9;
  --colors-steel-300: #adb5bd;
  --colors-steel-400: #868e96;
  --colors-steel-500: #495057;
  --colors-steel-600: #343a40;
  --colors-steel-700: #2b2f33;
  --colors-steel-800: #1f2226;
  --colors-steel-900: #181b1e;
  --colors-steel-950: #13161a;

  --colors-blue-25:  #f5f7ff;
  --colors-blue-50:  #e0e7ff;
  --colors-blue-100: #c7d2fe;
  --colors-blue-200: #a5b4fc;
  --colors-blue-300: #818cf8;
  --colors-blue-400: #6366f1;
  --colors-blue-500: #4f46e5;
  --colors-blue-600: #4338ca;
  --colors-blue-700: #3730a3;
  --colors-blue-800: #26226b;
  --colors-blue-900: #1a1a4d;
  --colors-blue-950: #00005f;


  --colors-green-25:  #f3faf7;
  --colors-green-50:  #def7ec;
  --colors-green-100: #bcf0da;
  --colors-green-200: #84e1bc;
  --colors-green-300: #31c48d;
  --colors-green-400: #0e9f6e;
  --colors-green-500: #057a55;
  --colors-green-600: #046c4e;
  --colors-green-700: #03543f;
  --colors-green-800: #014737;
  --colors-green-900: #013529;
  --colors-green-950: #001f16;


  --colors-orange-25:  #fffaf5;
  --colors-orange-50:  #fff1e6;
  --colors-orange-100: #ffe4cc;
  --colors-orange-200: #ffd0a6;
  --colors-orange-300: #ffb877;
  --colors-orange-400: #ff9c44;
  --colors-orange-500: #fb8c00;
  --colors-orange-600: #db7a00;
  --colors-orange-700: #b86200;
  --colors-orange-800: #944d00;
  --colors-orange-900: #723900;
  --colors-orange-950: #5d2700;


  --colors-red-25:  #fff5f5;
  --colors-red-50:  #ffeaea;
  --colors-red-100: #ffd5d5;
  --colors-red-200: #ffb3b3;
  --colors-red-300: #ff8080;
  --colors-red-400: #ff4d4d;
  --colors-red-500: #ea4335;
  --colors-red-600: #cc322a;
  --colors-red-700: #a5251f;
  --colors-red-800: #7f1d1d;
  --colors-red-900: #671313;
  --colors-red-950: #5f0808;
}