.btn {
  height: 40px;
  padding: 10px 24px;
  border-radius: 4px;
  font-weight: 500;
  color: var(--colors-button-text);
  cursor: pointer;

  &:disabled {
    background-color: var(--colors-button-disabled-background);
    border-color: var(--colors-button-disabled-background);
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }
}

.btn-primary {
  background-color: var(--colors-button-background);
  color: var(--colors-button-text);
  font-weight: bold;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: var(--colors-button-hover-background);
    color: var(--colors-button-text);
    border: none;
  }

  &:active {
    background-color: var(--colors-button-hover-background);
    color: var(--colors-button-text);
  }
}

.btn-secondary {
  background-color: var(--colors-dark-gray);
  color: var(--colors-white);
  font-weight: bold;
  border-radius: 4px;
  border: solid 1px var(--colors-dark-gray);

  &:hover {
    background-color: var(--colors-very-dark-gray);
    color: var(--colors-white);
  }

  &:active {
    background-color: var(--colors-very-dark-gray);
    color: var(--colors-white);
  }
}


.btn-text {
  color: var(--colors-button-text);
  background-color: transparent;
  font-weight: bold;
  border: none;
  padding: 0;
  height: fit-content;
  width: fit-content;

  &:hover {
   text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}