.checkbox {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;
  position: relative;
  color: var(--colors-input-text);
  width: 100%;
  max-width: 100%;
  word-break: break-word;

}

.checkbox input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 20px;
  width: 20px;
  border: 1px solid var(--colors-input-border);
  border-radius: 4px;
  margin-right: 8px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input:checked + .checkmark {
  background-color: var(--colors-primary-yellow);
  border-color: var(--colors-input-border-focus);
}

.checkmark::after {
  content: '';
  display: none;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox input:checked + .checkmark::after {
  display: block;
}

.checkbox .label-text {
  flex: 1;
  line-height: 1.4;
}

.checkbox input:disabled + .checkmark {
  background-color: var(--colors-input-disabled-background);
  border-color: var(--colors-input-disabled-border);
  cursor: not-allowed;
  opacity: 0.6;
}

.checkbox input:disabled ~ .label-text {
  cursor: not-allowed;
  opacity: 0.6;
  color: var(--colors-button-disabled-text);
}

.checkbox input:disabled {
  pointer-events: none;
}

