.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  color: var(--colors-input-text);
  width: max-content;
}

.radio input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radiocheck {
  height: 20px;
  width: 20px;
  border: 1px solid var(--colors-input-border);
  border-radius: 50%; /* full circle */
  margin-right: 8px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative;
}

.radio input:checked + .radiocheck {
  background-color: white;
  border-color: var(--colors-input-border-focus);
}

.radiocheck::after {
  content: '';
  display: none;
  width: 12px;
  height: 12px;
  background: var(--colors-input-border-focus);
  border-radius: 50%;
  position: absolute;
}

.radio input:checked + .radiocheck::after {
  display: block;
}

.radio input:disabled + .radiocheck {
  background-color: var(--colors-input-disabled-background);
  border-color: var(--colors-input-disabled-border);
  cursor: not-allowed;
  opacity: 0.6;
}

.radio input:disabled ~ .label-text {
  cursor: not-allowed;
  opacity: 0.6;
}

.radio input:disabled {
  pointer-events: none;
}
